.accessory {
  position: fixed;
  z-index: 1;

  &:hover {
    z-index: 2;

    .info {
      display: flex;
    }
  }

  > div {
    display: flex;
    align-items: flex-start;

    .icon {
      z-index: 2;
      cursor: pointer;
      svg {
        position: relative;
        z-index: 1;
      }
    }

    .info {
      display: none;
      margin-left: 2px;
      padding: 6px;
      border: 1px solid #DDD;
      border-radius: 4px;
      background-color: white;
    }
  }
}
