.accessory {
  position: fixed;
  z-index: 1;

  &:hover {
    z-index: 2;

    .info {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.5s linear;
    }
  }

  > div {
    display: flex;
    align-items: flex-start;

    .icon {
      z-index: 2;
      cursor: pointer;
    }

    .info {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      margin-left: 2px;
      padding: 6px;
      border: 1px solid #DDD;
      border-radius: 4px;
      background-color: white;
    }
  }
}
