.accessory {
  position: fixed;
  z-index: 1;

  &:hover {
    z-index: 2;
  }

  > div {
    display: flex;
    align-items: flex-start;

    .icon {
      z-index: 2;
      cursor: pointer;

      svg {
        path {
          fill: black;
          fill-opacity: 0.7;
        }
      }
    }

    .icon {
      &:hover {
        svg {
          path {
            fill-opacity: 1;
            stroke: black;
            stroke-width: 20;
            stroke-opacity: 0.2;
          }
        }
      }
    }

    .icon:hover + .info {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.2s linear;
    }

    .info {
      display: flex;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      margin-left: 2px;
      padding: 6px;
      border: 1px solid #DDD;
      border-radius: 4px;
      background-color: white;
    }
  }
}
